@using Nop.Plugin.Widgets.JustHtml.Models
@using Nop.Web.Framework.Models.DataTables
@model ConfigurationModel

<div class="panel panel-default advanced-setting">
    <div class="panel-heading">
        @T("Admin.JustHtml.Widgets")
    </div>
    <div class="panel-body">
        <p>
            <em>@T("Admin.JustHtml.Widgets.Description")</em>
        </p>
        
        <div class="panel panel-default">
            <div class="panel-body">
                @await Html.PartialAsync("Table", new DataTablesModel
                {
                    Name = "justhtmlwidgets-grid",
                    UrlRead = new DataUrl("List", "JustHtmlWidget", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    ColumnCollection = new List<ColumnProperty>
                    {
                        new ColumnProperty(nameof(WidgetModel.WidgetZone))
                        {
                            Title = T("Admin.JustHtml.Widgets.Fields.WidgetZone").Text,
                            Width = "300"
                        },
                        new ColumnProperty(nameof(WidgetModel.Content))
                        {
                            Title = T("Admin.JustHtml.Widgets.Fields.Content").Text,
                            Width = "200"
                        },
                        new ColumnProperty(nameof(WidgetModel.IsActive))
                        {
                            Title = T("Admin.JustHtml.Widgets.Fields.IsActive").Text,
                            Width = "50",
                            ClassName =  NopColumnClassDefaults.CenterAll,
                            Render = new RenderBoolean()
                        },
                        new ColumnProperty(nameof(WidgetModel.Order))
                        {
                            Title = T("Admin.JustHtml.Widgets.Fields.Order").Text,
                            Width = "50",
                            ClassName =  NopColumnClassDefaults.CenterAll,
                        },
                        new ColumnProperty(nameof(WidgetModel.Id))
                        {
                            Title = T("Admin.Common.Edit").Text,
                            Width = "50",
                            ClassName =  NopColumnClassDefaults.Button,
                            Render = new RenderButtonEdit(new DataUrl("ConfigureItem"))
                        }
                    }
                })
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="@Url.Action("ConfigureItem", "JustHtmlWidget")">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>